controller_manager:
  ros__parameters:
    update_rate: 1000

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    lekiwi_arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController
      joints:
        - Shoulder_Rotation
        - Shoulder_Pitch
        - Elbow
        - Wrist_Pitch
        - Wrist_Roll
        - Gripper
      command_interfaces:
        - position
      state_interfaces:
        - position
        - velocity
      state_publish_rate: 50.0
      action_monitor_rate: 20.0
      allow_nonzero_velocity_at_trajectory_end: true

    lekiwi_wheel_controller:
      type: velocity_controllers/JointGroupVelocityController
      joints:
        - left_wheel_drive
        - rear_wheel_drive
        - right_wheel_drive
      command_interfaces:
        - velocity
      state_interfaces:
        - position
        - velocity
