<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="lekiwi_ros2_control" params="name initial_positions_file">
    
    <xacro:property name="initial_positions"
      value="${xacro.load_yaml(initial_positions_file)['initial_positions']}" />

    <ros2_control name="${name}" type="system">
      
        <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        
        </hardware>
      
      <joint name="Shoulder_Rotation">
        <hardware_interface name="position"/> <state_interface name="position">    <param name="initial_value">${initial_positions['Shoulder_Rotation']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="Shoulder_Pitch">
        <hardware_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['Shoulder_Pitch']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="Elbow">
        <hardware_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['Elbow']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="Wrist_Pitch">
        <hardware_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['Wrist_Pitch']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="Wrist_Roll">
        <hardware_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['Wrist_Roll']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="Gripper">
        <hardware_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['Gripper']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="left_wheel_drive">
        <hardware_interface name="velocity"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="rear_wheel_drive">
        <hardware_interface name="velocity"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="right_wheel_drive">
        <hardware_interface name="velocity"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>
  </xacro:macro>
</robot>